<div class="newsletter_content">
    <div class="left_side">
        <h3>Subscribe our Newsletter</h3>
        <p>Stay up to date with our latest new and products</p>
    </div>

    <div class="right_side">
        <div class="input__field">
            <mat-form-field appearance="outline" class="width_full">
                <mat-label>Your email address...</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="over_btn">
            <button mat-button class="newsletter">Subscribe</button>
        </div>
    </div>
</div>