<div class="quick_links_hr">
    <hr>
</div>

<div class="quick_links">
    <div class="left_side">
        <ul>
            <li>My Account</li>
            <li>Contact</li>
            <li>Compare</li>
            <li>Wishlist</li>
            <li>Checkout</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div class="middle_side">
        <ul>
            <li><mat-icon>location_on</mat-icon> 2903 Avenue Z, Brooklyn, NY </li>
            <li><mat-icon>phone</mat-icon> (212) 457-2308 </li>
            <li><mat-icon>mail</mat-icon> contact@emporium.com </li>
            <li><mat-icon>access_time</mat-icon> Mon - Sun / 9:00AM - 8:00PM </li>
            <li><mat-icon>directions</mat-icon> Get directions </li>
            <li><mat-icon>directions_railway</mat-icon> Routes to us </li>
        </ul>
    </div>
    <div class="right_side">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, sint.</p>
    </div>
</div>