<div class="product_img">
  <img src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png" alt="" />
</div>
<div class="category text-muted">
  <p>Electronics</p>
  <h5>Keyboard</h5>
</div>
<div class="title text-truncate">
  <div class="product_price">
    <h6>$175.00</h6>
  </div>
  <div class="product_rating">
    <div class="star">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </div>
    <p>4 rating</p>
  </div>
</div>
<hr />

<div class="product_icon">
  <button mat-button matTooltip="Add to wishlist">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button matTooltip="Add to cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-button matTooltip="Add to compare">
    <mat-icon>compare</mat-icon>
  </button>
  <button mat-button matTooltip="Quick View">
    <mat-icon>remove_red_eye</mat-icon>
  </button>
</div>