<div class="welcome_header">
    <div class="container">
        <div class="hotline">
            <p>Hotline: (+100) 123 456 7890</p>
        </div>

        <div class="welcome">
            <p> Shopping Karo </p>
        </div>

        <div class="user_control">
            <div class="country">
                <p>USD</p>
            </div>
            <div class="compare">
                <button mat-button>Compare (0)</button>
            </div>
            <div class="wishlist">
                <button mat-button>Wishlist (0)</button>
            </div>
            <div class="account">
                <button mat-button [matMenuTriggerFor]="beforeMenu">Account</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before" class="account_mat_button">
                    <button mat-menu-item>Account Setting</button>
                    <button mat-menu-item>Lock Screen</button>
                    <button mat-menu-item>Help</button>
                    <hr>
                    <button mat-menu-item>Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>