<div class="welcome_header">
    <div class="container">
        <div class="hotline">
            <p>Hotline: (+100) 123 456 7890</p>
        </div>

        <div class="welcome">
            <p>Welcome to our market! </p>
        </div>

        <div class="user_control">
            <div class="country">
                <p>USD</p>
            </div>
            <div class="compare">
                <p>Compare</p>
            </div>
            <div class="wishlist">
                <p>Wishlist</p>
            </div>
            <div class="account">
                <p>Account</p>
            </div>
        </div>
    </div>
</div>