.search__bar {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0 0;
    color: #fff;



    .search__type {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 50px;

        .input__field {
            width: 100%;

            &::ng-deep {
                .mat-mdc-text-field-wrapper {
                    background: #fff !important;
                }
            }

            .width_full {
                width: 100%;
            }
        }

        .auto {
            width: auto;
        }
    }

    .shopping__cart {
        display: flex;
        justify-content: flex-end;
    }

    h2 {
        font-size: 40px !important;
        text-transform: uppercase;
        cursor: pointer;
    }

    .shopping__cart {
        &::ng-deep {
            span.mdc-button__label {
                color: #fff !important;
            }
        }
    }
}

.shopping_cart_details {
    padding: 0 10px;

    .item_number,
    .view_cart {
        p {
            text-transform: uppercase;
            color: #0000008a;
        }
    }

    .shopping__content {
        p {
            color: #0000008a;
        }
    }

    .view_cart {
        p {
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }
    }

    .shopping_title {
        display: flex;
        justify-content: space-between;
    }
}

::ng-deep {
    .mat-mdc-form-field-infix {
        min-height: 35px !important;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        top: 17px !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-17px) scale(var(--mat- mdc-form-field-floating-label-scale, 0.75)) !important;
        // transform: var(--mat-mdc-form-field-label-transform) !important;
        transform: translateY(-27px) !important;
    }


}

// .input__field {
//     &::ng-deep {
//         .mat-form-field-flex {
//             >.mat-form-field-infix {
//                 padding: 0.2em 0px !important;
//             }
//         }

//         .mat-form-field-label-wrapper {
//             top: -1.5em !important;
//         }

//         .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
//             .mat-form-field-label {
//                 transform: translateY(-1.1em) scale(.75) !important;
//                 width: 133.33333% !important;
//             }
//         }
//     }
// }