.breadcrumbs {
    background: #F2F2F2;
    border-radius: 5px;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 5px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            gap: 5px;

            &:last-child {
                cursor: default;
            }
        }
    }
}