<div class="side_filter">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Category
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="side_filter_category">
                <ul>
                    <li><button mat-button>All Category</button></li>
                    <li>
                        <button mat-button>Fashion</button>
                        <ul class="sub">
                            <li>
                                <button mat-button>Women</button>
                                <ul class="sub_sub">
                                    <li><button mat-button>Dresses & Skirts</button></li>
                                    <li><button mat-button>Jackets</button></li>
                                    <li><button mat-button>Top & Blouses</button></li>
                                    <li><button mat-button>Shoes & Boots</button></li>
                                    <li><button mat-button>Knitwear</button></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="sub">
                            <li>
                                <button mat-button>Men</button>
                                <ul class="sub_sub">
                                    <li><button mat-button>T-Shirt & Pools</button></li>
                                    <li><button mat-button>Shoes & Boots</button></li>
                                    <li><button mat-button>Jeans</button></li>
                                    <li><button mat-button>Coats</button></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Price
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-slider>
                <input matSliderThumb [(ngModel)]="fromRange">
              </mat-slider>
            <p>{{fromRange}}</p>
            <mat-slider>
                <input matSliderThumb [(ngModel)]="toRange">
              </mat-slider>
            <p>{{toRange}}</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>