<div class="list" *ngFor="let item of policy">
  <div class="left">
    <mat-icon>{{ item.img }}</mat-icon>
  </div>
  <div class="right">
    <h4>{{ item.name }}</h4>
    <p>{{ item.dsc }}</p>
  </div>
</div>

<!-- <div class="list">
      <div class="left">
        <mat-icon>local_shipping</mat-icon>
      </div>
      <div class="right">
        <h4>Free Shipping</h4>
        <p>Free shipping on all orders over $99</p>
      </div>
    </div>

    <div class="list">
      <div class="left">
        <mat-icon>monetization_on</mat-icon>
      </div>
      <div class="right">
        <h4>Money Back Guarantee</h4>
        <p>30 Days money return guarantee</p>
      </div>
    </div>

    <div class="list">
      <div class="left">
        <mat-icon>history</mat-icon>
      </div>
      <div class="right">
        <h4>Online Support 24/7</h4>
        <p>Call us: (+100) 123 456 7890</p>
      </div>
    </div> -->
