.list {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #F2F2F2;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 10px;


  .mat-icon {
    width: 48px !important;
    height: 48px !important;
  }

  .material-icons {
    font-size: 48px !important;
  }
}

.right {
  color: #616161;

  h4 {
    margin: 0;
  }

  p {
    font-size: 12px;
  }
}