<div class="container">
    <div class="shopping__status">

        <div class="list">
            <div class="left">
                <mat-icon>card_giftcard</mat-icon>
            </div>
            <div class="right">
                <h4>Bonus Plus</h4>
                <p>Make fun of shopping and collect bonuses</p>
            </div>
        </div>

        <div class="list">
            <div class="left">
                <mat-icon>local_shipping</mat-icon>
            </div>
            <div class="right">
                <h4>Free Shipping</h4>
                <p>Free shipping on all orders over $99</p>
            </div>
        </div>

        <div class="list">
            <div class="left">
                <mat-icon>monetization_on</mat-icon>
            </div>
            <div class="right">
                <h4>Money Back Guarantee</h4>
                <p>30 Days money return guarantee</p>
            </div>
        </div>

        <div class="list">
            <div class="left">
                <mat-icon>history</mat-icon>
            </div>
            <div class="right">
                <h4>Online Support 24/7</h4>
                <p>Call us: (+100) 123 456 7890</p>
            </div>
        </div>
    </div>

    <div class="banners_container">

        <div class="left_side">
            <div class="banner_container_details laptop">
                <div class="card__details">
                    <h2>New Laptops</h2>
                    <p>Now starting at $1299</p>
                    <button mat-button class="shop_now">Shop Now</button>
                </div>
            </div>
            <div class="bottm_part">
                <div class="banner_container_details new_mobile">
                    <div class="card__details">
                        <h2>New mobile phone</h2>
                        <p>Special for today</p>
                        <button mat-button class="shop_now">Shop Now</button>
                    </div>
                </div>
                <div class="banner_container_details watch_collection">
                    <div class="card__details ">
                        <h2>Watch Collection</h2>
                        <p>Special for today</p>
                        <button mat-button class="shop_now">Shop Now</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="right_side">
            <div class="banner_container_details summer_collection">
                <div class="card__details ">
                    <h2>Summer Collection</h2>
                    <p>New Arrivals On Sale</p>
                    <button mat-button class="shop_now">Shop Now</button>
                </div>
            </div>
            <div class="banner_container_details shoes">
                <div class="card__details ">
                    <h2>Shoes for you</h2>
                    <p>Now starting at $89</p>
                    <button mat-button class="shop_now">Shop Now</button>
                </div>
            </div>
            <div class="banner_container_details popular_jewellery">
                <div class="card__details ">
                    <h2>Popular Jewellery Brands</h2>
                    <p>Now starting at $1799</p>
                    <button mat-button class="shop_now">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>