<div class="container">
  <div class="banner_img_slider">
    <app-banner-widget [images]="imageArray"></app-banner-widget>
  </div>

  <ng-container>
    <app-policy-widget
      class="shopping__status"
      [policy]="policyArray"
    ></app-policy-widget>
  </ng-container>

  <div class="banners_container">
    <div class="left_side">
      <div class="banner_container_details laptop">
        <div class="card__details">
          <h2>New Laptops</h2>
          <p>Now starting at $1299</p>
          <button mat-button class="shop_now">Shop Now</button>
        </div>
      </div>
      <div class="bottm_part">
        <div class="banner_container_details new_mobile">
          <div class="card__details">
            <h2>New mobile phone</h2>
            <p>Special for today</p>
            <button mat-button class="shop_now">Shop Now</button>
          </div>
        </div>
        <div class="banner_container_details watch_collection">
          <div class="card__details">
            <h2>Watch Collection</h2>
            <p>Special for today</p>
            <button mat-button class="shop_now">Shop Now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="right_side">
      <div class="banner_container_details summer_collection">
        <div class="card__details">
          <h2>Summer Collection</h2>
          <p>New Arrivals On Sale</p>
          <button mat-button class="shop_now">Shop Now</button>
        </div>
      </div>
      <div class="banner_container_details shoes">
        <div class="card__details">
          <h2>Shoes for you</h2>
          <p>Now starting at $89</p>
          <button mat-button class="shop_now">Shop Now</button>
        </div>
      </div>
      <div class="banner_container_details popular_jewellery">
        <div class="card__details">
          <h2>Popular Jewellery Brands</h2>
          <p>Now starting at $1799</p>
          <button mat-button class="shop_now">Shop Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="all_product_feature">
    <mat-tab-group>
      <mat-tab label="Featured">
        <div class="full">
          <!-- <div class="all_description" *ngFor="let item of [1, 1, 1, 1, 1]"> -->
            <app-item-widget class="all_description" *ngFor="let item of [1, 1, 1, 1, 1]"></app-item-widget>
          <!-- </div> -->

          <!-- <div class="all_description">
            <div class="product_img">
              <img
                src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png"
                alt=""
              />
            </div>
            <div class="category text-muted">
              <p>Electronics</p>
              <h5>Keyboard</h5>
            </div>
            <div class="title text-truncate">
              <div class="product_price">
                <h6>$175.00</h6>
              </div>
              <div class="product_rating">
                <div class="star">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <p>4 rating</p>
              </div>
            </div>
            <hr />

            <div class="product_icon">
              <button mat-button matTooltip="Add to wishlist">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-button matTooltip="Add to cart">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button mat-button matTooltip="Add to compare">
                <mat-icon>compare</mat-icon>
              </button>
              <button mat-button matTooltip="Quick View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </div>
          <div class="all_description">
            <div class="product_img">
              <img
                src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png"
                alt=""
              />
            </div>
            <div class="category text-muted">
              <p>Electronics</p>
              <h5>Keyboard</h5>
            </div>
            <div class="title text-truncate">
              <div class="product_price">
                <h6>$175.00</h6>
              </div>
              <div class="product_rating">
                <div class="star">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <p>4 rating</p>
              </div>
            </div>
            <hr />

            <div class="product_icon">
              <button mat-button matTooltip="Add to wishlist">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-button matTooltip="Add to cart">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button mat-button matTooltip="Add to compare">
                <mat-icon>compare</mat-icon>
              </button>
              <button mat-button matTooltip="Quick View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </div>
          <div class="all_description">
            <div class="product_img">
              <img
                src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png"
                alt=""
              />
            </div>
            <div class="category text-muted">
              <p>Electronics</p>
              <h5>Keyboard</h5>
            </div>
            <div class="title text-truncate">
              <div class="product_price">
                <h6>$175.00</h6>
              </div>
              <div class="product_rating">
                <div class="star">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <p>4 rating</p>
              </div>
            </div>
            <hr />

            <div class="product_icon">
              <button mat-button matTooltip="Add to wishlist">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-button matTooltip="Add to cart">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button mat-button matTooltip="Add to compare">
                <mat-icon>compare</mat-icon>
              </button>
              <button mat-button matTooltip="Quick View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </div>
          <div class="all_description">
            <div class="product_img">
              <img
                src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png"
                alt=""
              />
            </div>
            <div class="category text-muted">
              <p>Electronics</p>
              <h5>Keyboard</h5>
            </div>
            <div class="title text-truncate">
              <div class="product_price">
                <h6>$175.00</h6>
              </div>
              <div class="product_rating">
                <div class="star">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <p>4 rating</p>
              </div>
            </div>
            <hr />

            <div class="product_icon">
              <button mat-button matTooltip="Add to wishlist">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-button matTooltip="Add to cart">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button mat-button matTooltip="Add to compare">
                <mat-icon>compare</mat-icon>
              </button>
              <button mat-button matTooltip="Quick View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </div>
          </div> -->
        </div>
      </mat-tab>
      <mat-tab label="On Sale">
        <div class="full">
          <app-item-widget class="all_description" *ngFor="let item of [1, 1, 1, 1, 1]"></app-item-widget>
        </div>
      </mat-tab>
      <mat-tab label="Top Rated">
        <div class="full">
          <app-item-widget class="all_description" *ngFor="let item of [1, 1, 1, 1, 1]"></app-item-widget>
        </div>
      </mat-tab>
      <mat-tab label="New Arrivals">
        <div class="full">
          <app-item-widget class="all_description" *ngFor="let item of [1, 1, 1, 1, 1]"></app-item-widget>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="show_brand">
    <button mat-button>Show All Brands</button>
    <app-brand-widget [brands]="brandArray"></app-brand-widget>
  </div>
</div>
