<div class="sign_form">
    <div class="card">
        <h2>Singup Form</h2>

        <form class="form" autocomplete="off">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone No</mat-label>
                <input matInput type="number" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" autocomplete="off">
            </mat-form-field>
        </form>      

        <button type="button" class="login_btn">Sign Up</button>        
    </div>
</div>