<div class="product_view_details">
    <div class="left_side">
        <div class="zoom_img">
            <img src="https://www.emporium.themeseason.com/assets/images/products/keyboard/1-medium.png" alt="">
        </div>
        <div class="banner_img">
            <img src="https://www.emporium.themeseason.com/assets/images/products/keyboard/2-small.png" alt="">
            <img src="https://www.emporium.themeseason.com/assets/images/products/keyboard/2-small.png" alt="">
            <img src="https://www.emporium.themeseason.com/assets/images/products/keyboard/2-small.png" alt="">
        </div>
    </div>
    <div class="right_side">
        <div class="product_name">
            <h5>Keyboard</h5>
            <p>Category: <span>Electronics</span> </p>
            <p>Availibility: <span>In stock</span> </p>
        </div>
        <div class="star_rating">
            <div class="star">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
            </div>
            <div class="rating_point">
                <p>4 Rating</p>
            </div>
        </div>
        <div class="item_short_des">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deserunt cum a animi nisi nihil doloremque,
                laborum commodi ipsum adipisci, sapiente et libero suscipit quibusdam, aperiam accusantium! Ducimus
                optio aliquam culpa veniam! Reiciendis, iste quo perferendis nostrum animi porro culpa.</p>
        </div>
        <hr>
        <div class="item_price">
            <h5>$175</h5>
        </div>
        <div class="item_filter">
            <div class="select_color">
                <p>Select color: <mat-checkbox></mat-checkbox></p>
            </div>
            <div class="select_size">
                <button mat-button>S</button>
                <button mat-button>M</button>
                <button mat-button>L</button>
                <button mat-button>XL</button>
            </div>
        </div>
        <div class="quantity_fav">
            <div class="quantity">
                <p>Quantity: </p>
                <button mat-button>-</button>
                <p>1</p>
                <button mat-button>+</button>
            </div>
            <div class="favourite">
                <button mat-button matTooltip="Add to wishlist">
                    <mat-icon>favorite</mat-icon>
                  </button>
                  <button mat-button matTooltip="Add to cart">
                    <mat-icon>shopping_cart</mat-icon>
                  </button>
                  <button mat-button matTooltip="Add to compare">
                    <mat-icon>compare</mat-icon>
                  </button>
            </div>
        </div>
        <hr>
        <div class="send_share">
            <button mat-button> <mat-icon> email</mat-icon> Email to a Friend </button>
            <button mat-button> <mat-icon> share</mat-icon>  </button>
        </div>
    </div>
</div>