<mat-tab-group>
    <mat-tab label="Description">
        <div class="full">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam illum omnis voluptatem tenetur impedit
                aspernatur accusamus deserunt. Aliquam, accusamus? A distinctio nisi odio repudiandae, totam laudantium
                sed animi provident voluptatibus quae ducimus rem alias illum tempore cupiditate laborum quis eum
                accusamus ipsum. Voluptatum reiciendis et dolorum sapiente obcaecati doloribus optio quam vel at rerum
                consequatur, alias eos quaerat, aut id odio animi autem! Quaerat ut pariatur corporis explicabo debitis
                earum animi numquam quia facilis aliquam cupiditate, magnam praesentium, nisi dolor molestiae. Ullam vel
                beatae nobis rem atque pariatur provident ipsum dolore, necessitatibus error debitis aspernatur. Beatae
                vero asperiores quibusdam voluptatem!
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Additional Information">
        <div class="full">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque asperiores dolore quibusdam ratione
                dicta, consequuntur accusantium optio explicabo? Reiciendis eaque doloribus ut excepturi autem! Sit
                saepe deserunt fuga veritatis minima velit ipsam at temporibus sunt nesciunt animi dolores nihil atque
                sequi facere, voluptatem dolorum explicabo optio nulla id? Sit vero, nemo sunt a quibusdam tenetur.
                Provident molestiae nemo dolorum nihil impedit! Rem esse repudiandae pariatur repellendus veritatis
                nesciunt! Quae pariatur excepturi expedita magni consectetur rem ad! Voluptate sequi quidem quis ex
                dolor magnam ipsa deleniti exercitationem suscipit ipsam repellat, aspernatur voluptatem quaerat tempore
                sint fuga rerum blanditiis sunt laboriosam aut tenetur. Doloremque consectetur voluptate perferendis
                assumenda odio repellat nihil cupiditate voluptas, reprehenderit delectus molestias reiciendis rem
                pariatur alias, enim atque!
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Reviews">
        <div class="full">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum aliquid fugit quidem modi aut
                dignissimos quas libero. Nemo quod distinctio delectus dolorum nulla vel, quos explicabo vero labore
                perspiciatis nam corporis, cum aspernatur, iste suscipit pariatur architecto tempore blanditiis velit
                rerum nesciunt quisquam! Corporis saepe minus, veritatis optio iure dolores consequatur officia eum
                voluptate possimus! Distinctio pariatur quia eaque consequatur earum, amet sequi perspiciatis
                praesentium. Tempore fugiat laboriosam est repellat illo architecto perferendis ipsa, sapiente at odio
                itaque repudiandae impedit laudantium libero ipsum enim omnis inventore illum aliquid nobis deserunt
                ratione! Aut quidem culpa repudiandae quae, eius quisquam numquam, eaque molestiae, ipsum ea soluta
                architecto enim possimus. Saepe, quas?
            </p>
        </div>
    </mat-tab>
</mat-tab-group>